$white: #fff;
$athens-gray: #f7f8fa;
$shuttle-gray: #525c6b;
$indigo: #3f74ca;

.screen {
    width: 36vh;
    background: linear-gradient(to top, lighten($indigo, 8%) 11.5vh, $indigo 11.5vh);
    & header {
        text-align: center;
    }
    & main {
        display: flex;
        flex-wrap: wrap;
        padding: 1.5vh;
        justify-content: space-between;
    }
}

.iphone, .screen{
    border: 0.5vh solid $shuttle-gray;
}

.iphone {
    margin: auto;
    padding: 10vh 1.5vh;
    border-radius: 6vh;
    position: relative;
    width: fit-content;
}

.icon {
    width: 6vh;
    height: 6vh;
    margin: 1.5vh 0.5vh;
    border-radius: 1.5vh;
    background-color: $athens-gray;
}

.icon:active {
    opacity: 0.75;
}

.icon:nth-last-of-type(-n+4) {
    margin-top: 3vh;
}