:root {
    --color-white: #fff;
    --color-indigo: rgba(63, 116, 202, 1);
    --color-indigo-light: rgba(63, 116, 202, .82);
    --color-athens-gray: #f7f8fa;
    --color-shuttle-gray: #525c6b;
}

.screen {
    width: 36vh;
    /* background: linear-gradient(to top, lighten(var(--color-indigo), 8%) 11.5vh, var(--color-indigo) 11.5vh); */
    /* background: linear-gradient(to top, var(--color-indigo) 11.5vh, lighten(var(--color-indigo), 8%) 11.5vh); */
    background: linear-gradient(to top, var(--color-indigo-light) 11.5vh, var(--color-indigo) 11.5vh);
}

.screen > header {
    text-align: center;
}

.screen > main {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5vh;
    justify-content: space-between;
}

.iphone, .screen{
    border: 0.5vh solid var(--color-shuttle-gray);
}

.iphone {
    margin: auto;
    padding: 10vh 1.5vh;
    border-radius: 6vh;
    position: relative;
    width: fit-content;
}

.icon {
    width: 6vh;
    height: 6vh;
    margin: 1.5vh 0.5vh;
    border-radius: 1.5vh;
    background-color: var(--color-athens-gray);
}

.icon:active {
    opacity: 0.75;
}

.icon:nth-last-of-type(-n+4) {
    margin-top: 3vh;
}