.center {
    width: 50%;
    margin: auto;
    margin-top: 10px;
}
.container {
    margin: 0;
    padding: 0;
    display: flex;
    border: none;
    width: 100%;
}

.list::-webkit-scrollbar,
.one::-webkit-scrollbar {
    display: none;
}

.list {
    width: 40%;
    height: 100vh;
    overflow: scroll;
}

.list > table {
    text-align: center;
    margin: auto;
}

th {
    font-size: 1.2rem;
}

th,
td {
    border-bottom: 1px solid #ddd;
    padding: 2px 10px;
}

.one {
    padding: 0 0 0 10px;
    height: 100vh;
    overflow: scroll;
    width: 62%;
}

.one img {
    max-width: 300px;
}

.one > ul {
    list-style: none;
}

.one > ul > li:hover {
    font-size: 1.2rem;
    transition: font-size .3s;
}

a:hover {
    cursor: pointer;
}

.avatar-small {
    width: 50px;
    height: 50px;
}

.name-anchor {
    background: none;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
}
