.single-news {
    width: 800px;
    padding: 20px;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 3px 3px 5px gainsboro;
    margin-bottom: 20px;
}

.single-news .subtitle {
    font-size: 1.2rem;
}

.single-news .location {
    color: #888888;
}

.image-wrapper {
    width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}

.image-wrapper .single-img {
    border-radius: 10px;
    box-shadow: #888888 3px 3px 5px;
    height: 225px;
}