form {
    width: 400px;
    margin: auto;
    position: relative;
}

.buttons {
    display: flex;
}
.buttons * {
    flex-basis: 100%;
}

.error-message {
    color: crimson;
}

.check-input-red {
    border: 1px solid red;
}