.App {
    width: 50%;
    margin: 0 auto;
}

.topHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-align: center;
    border: 5px solid red;
    height: 100px;
}

/*.middleContent {*/
/*    display: flex;*/
/*    flex-flow: wrap;*/
/*    justify-content: space-around;*/
/*    gap: 10px 20px;*/
/*    font-size: 50px;*/
/*    border-top: 0;*/
/*    border-left: 5px solid red;*/
/*    border-right: 5px solid red;*/
/*    border-bottom: 5px solid red;*/
/*    height: 700px;*/
/*}*/

/*.box {*/
/*    margin-top: 50px;*/
/*    width: 150px;*/
/*    height: 150px;*/
/*    border: 5px solid red;*/
/*}*/

/*.box_left {*/
/*    margin-top: 50px;*/
/*    width: 150px;*/
/*    height: 150px;*/
/*    border: 5px solid yellow;*/
/*}*/


/*.footerContent {*/
/*    display: flex;*/
/*    align-items: end;*/
/*    justify-content: center;*/
/*    font-size: 50px;*/
/*    text-align: center;*/
/*    border-top: 0;*/
/*    border-left: 10px solid red;*/
/*    border-right: 10px solid red;*/
/*    border-bottom: 10px solid red;*/
/*    height: 230px;*/
/*}*/

/*.lastContent {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    flex-wrap: wrap*/

/*}*/


.container {

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: 5px solid red;
}

item {
    outline: 1px solid black;
    height: 150px;
    background: red;
    margin-top: 20px;
    margin-bottom: 20px;
    --itemWidth: 150px;
    width: calc(var(--itemWidth));
    margin-left: calc((100% - var(--itemWidth) * var(--n)) / (var(--n) + 1));
}

@media screen and (max-width: 900px) {
    item { --n: 2; }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
    item { --n: 3; }
}

@media screen and (max-width: 1500px) and (min-width: 1200px) {
    item { --n: 4; }
}

@media screen and (max-width: 8888px) and (min-width: 1500px) {
    item { --n: 4; }
}

