
<html lang = "en-US">
      <head>
      <meta charset="UTF-8">
      </head>
      <body>
      <div>
          <form action = "/matrix/api/getMatrix" method = "POST" target = "iframe">
          <label for="matrixSize">type a number:</label>
          <input id = "matrixSize" name = "matrixSize" type = "number"/>
          <input type="submit" value = "Submit"/>
          </form>
          <iframe scrolling = "no"  frameborder="0" width = "100%" height = "100%"></iframe>
      </div>
      </body>
      </html>
     