

.topHeader {
    font-size: 50px;
    text-align: center;
    border: 10px solid red;
    height: 230px;
}

.middleContent {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    text-align: center;
    border-top: 0;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-bottom: 10px solid red;
    height: 500px;
}

.footerContent {
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 50px;
    text-align: center;
    border-top: 0;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-bottom: 10px solid red;
    height: 230px;
}